<h1>Register</h1>

{{#if messages.error}}
    <p>{{messages.error}}</p>
{{/if}}

{{#if messages.success}}
    <p>{{messages.success}}</p>
{{/if}}

<form action="/register" method="POST">
    <div>
        <label for="name">Full name</label>
        <input type="text" id="name" name="fullname" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" autocomplete="on" required>
    </div>
    <div>
        <label>Account type</label>
        <div>
            <label for="tutor">
                <input type="radio" name="account_type" id="tutor" value="tutor" required> Tutor
            </label>
            <label for="student">
                <input type="radio" name="account_type" id="student" value="student"> Student
            </label>
        </div>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<a href="/login">Already have an account?</a>