<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">

        <div class="card">
          <div class="rounded-top d-flex flex-row p-2" style="background-color: whitesmoke; height:200px;">
            <div class="ms-4 mt-5 mr-2 d-flex flex-column">
              <h1>Dashboard</h1>
              <p>Hello {{ fullname }} </p>
            </div>
          </div>
          <div class="card-body">
            <div class="list-group-fluid">
              {{!-- {{#if badges.unreadMsgs}}
              <a href="/messages" class="list-group-item list-group-item-action">
              View your messages ({{badges.unreadMsgs}})
              </a>
              {{/if}} --}}
              <a href="/bookings" class="list-group-item list-group-item-action">
              {{#if isStudent}}
              Create or
              {{/if}} 
              View your bookings
              </a>
              <a href="/profile" class="list-group-item list-group-item-action">
              Visit your profile
              </a>
              {{#if isTutor}}
              <a href="/profile/edit#subjects" class="list-group-item list-group-item-action">
              Add new subjects that you are going to tutor for
              </a>
              {{/if}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>