<h1>Rate tutor</h1>
<h2>Tutor name: John Smith</h2>

<form action="/rate" method="post">
    <input type="hidden" name="tutor" value="">
    <input type="range" name="rating" id="">
    <button type="submit">Rate</button>
</form>